@font-face{
	font-family: Gotham;
	src: url(gotham.otf);
}
html{
	scroll-behavior: smooth;
}
errorbackground{
  position:fixed;
  padding:0px;
  margin:0px;
  background-color: rgba(0,0,0,0.5);
  height:100vh;
  width:100%;
  display:none;
  z-index:10;
}
error{
  padding:30px;
  border-radius: 10px;
  height:50vh;
  width:50%;
  background-color: lightcyan;
  display:none;
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
errortext{
  font-family: Gotham;
  font-size: 20px;
  position: relative;
  display: inline-block;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
x{
  float: right;
  cursor:pointer;
  font-family: Gotham;
  font-size: 30px;
}
h1{
	font-family: Gotham;
}
h2{
	font-family: Gotham;
}
h3{
	font-family: Gotham;
}
h4{
	font-family: Gotham;
}
pre{
	font-family: Gotham;
}
p{
	font-family: Gotham;
}
a{
	font-family: Gotham;
  text-decoration: none;
}
center{
	margin:0px;
	padding:0px;
}
div{
	margin:0px;
	padding:0px;
}
input[type=text]{
  padding:10px;
  font-family: Gotham;
  font-size:20px;
  border: none;
  border-bottom: 2.5px solid rgb(0,0,0);
  transition: 0.5s;
}
input[type=text]:focus{
  padding:10px;
  font-family: Gotham;
  font-size:20px;
  outline: none;
  border: none;
  border-bottom: 2.5px solid rgb(27,167,241);
  transition: 0.5s;
}
input[type=password]{
  padding:10px;
  font-family: Gotham;
  font-size:20px;
  border: none;
  border-bottom: 2.5px solid rgb(0,0,0);
  transition: 0.5s;
}
input[type=password]:focus{
  padding:10px;
  font-family: Gotham;
  font-size:20px;
  outline: none;
  border: none;
  border-bottom: 2.5px solid rgb(27,167,241);
  transition: 0.5s;
}
button{
  padding:10px;
  color:black;
  font-family: Gotham;
  background-color: rgba(0,0,0,0.03);
  border: solid 3px black;
  transition:0.5s;
}
button:hover{
  padding:10px;
  color:white;
  font-family: Gotham;
  background-color: rgba(27,167,241,0.5);
  border: solid 3px black;
  transition: 0.5s;
}
.landslide{
	color:white;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size:70px;
	padding:0px;
	margin:0px;
	animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
.arrow{
	clip-path: polygon(0 0, 50% 50%, 100% 0, 50% 100%);
	background-color:white;
  cursor: pointer;
	width:10%;
	height:3.333vh;
	margin:0px;
	padding:0px;
	position:relative;
	top:95%;
	animation: fadein linear 2s;
  -webkit-animation: fadein linear 2s;
}
@keyframes fadein {
0% {opacity:0;}
50% {opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes fadein {
0% {opacity:0;}
50% {opacity:0;}
100% {opacity:1;}
}
@-webkit-keyframes fadein {
0% {opacity:0;}
50% {opacity:0;}
100% {opacity:1;}
}
@-o-keyframes fadein {
0% {opacity:0;}
50% {opacity:0;}
100% {opacity:1;}
}
@-ms-keyframes fadein {
0% {opacity:0;}
50% {opacity:0;}
100% {opacity:1;}
}